div {
	margin:0;
	padding:0;
}

body {
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin:0;
	padding:0;
}

.landing {
	background-color:#95a9b7;
	min-height:700px;
}

.white {
	color:white;
}

h1, p, h3 {
	text-align:center;
	margin:auto;
	padding:0;
	width:600px;
}

a {
	color:#b22613;
	margin-left:3px;
	text-decoration:none;
	text-align:center;
}

.link-button {
	margin:auto;
	min-width:250px;
}

i{
	margin-left:30px;
	color:#95a9b7;
}

.stack {
	padding-top:30px;
	min-height:200px;
}

.stack-header {
	padding-bottom:20px;
}

.entry {
	margin: auto;
	max-width:580px;
	padding-bottom:12px;
}

.copyright {
	font-size:12px;
	text-align:center;
}