div {
	margin:0;
	padding:0;
}

body {
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin:0;
	padding:0;
}

.landing {
	background-color:#95a9b7;
	min-height:700px;
}

.white {
	color:white;
}

h1, p, h3 {
	text-align:center;
	margin:auto;
	padding:0;
	width:750px;
}

a {
	color:#b22613;
	margin-left:3px;
	text-decoration:none;
	text-align:center;
}

.title{
	padding-top:125px;
	font-size:600%;
	padding-bottom:30px;
}


.button-container{
	margin:auto;
	width:1120px;
	/*padding-left:100px;
	padding-right:100px;
	display: flex;
	justify-content: space-between;*/
}

.button-wrapper {
	width:500px;
	padding-left:30px;
	padding-right:30px;
	float:left;
}

.link-button {
	display:block;	
	background-color:#d9948a;
	color:white;
        margin-top:90px;
        margin-left:50px;
        margin-right:50px;
	padding:22px 5px;
	width:400px;
	font-size:30px;
	border: 2px solid #b22613;
	border-radius: 4px;
	text-align:center;
}

i{
	margin-left:30px;
	color:#95a9b7;
}

.stack {
	padding-top:30px;
	min-height:200px;
}

.stack-header {
	padding-bottom:20px;
}

.entry {
	margin: auto;
	max-width:580px;
	padding-bottom:12px;
}

.copyright {
	font-size:12px;
	text-align:center;
}
