body {
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

p {
	margin:0;
	padding:0;
}

.dcf {
	width:1026px;
	margin:0;
	padding:0;
	float:left;
}

.header {
	background-color:#00004d;
	color:white;
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.subheader {
	height:14px;
	font-size:12px;
	text-align:center;
	width:300px;
}

	.company-name {
		padding-left:10px;
		font-size:150%;
	}

	.analysis-name {
		padding-left:10px;
	}

	.units {
		padding-left:10px;
		font-size:50%;
	}
	
.free_cash_flow {
	margin-bottom:30px;
}
	
.historical {
	width:320px;
	margin-left:280px;
	float:left;
}

.projected {
	width:400px;
	margin-left:20px;
	float:left;
}

.row {
	width:1014;
	height:12px;
	font-size:10px;
	margin-top:7px;
	padding-left:6px;
}

	.field {
		width:274px;
		float:left;
		white-space: pre;
	}
	
	.important_field {
		font-weight:bold
	}
	
	.regular_field {
		padding-left:20px;
		width:254px;
	}
	
	.entry {
		width:80px;
		float:left;
		text-align:right;
		white-space: pre;
	}
	
	.subfield {
		width:220px;
		float:left;
	}
	
	.data_field {
		color:blue;
	}
	
	.user_field {
		background-color:#c6ebd8;
	}
	
	.answer {
		border-top:thin solid #000000;
	}
	
	.divider {
		width:20px;
		text-align:center;
		float:left;
		white-space: pre;
	}
	
	.year {
		width:80px;
		text-align:center;
		float:left;
		border-bottom:thin solid #000000;
	}
	