<!doctype html>

<html>
<head>
	<link rel="stylesheet" href="/valumodel.com/css/form-stylesheet.css">
	<title>DCF Assumptions</title>
	<meta name="author" content="Will Markley">
</head>

<body>
	<div class="header">
		<a class="homepage" href="/">valumodel.com</a>
	</div>
	<div class="title">Average Enterprise Values by Ticker</div>
	<table>
		<th>Ticker</th>
		<th>Enterprise Value</th>
		{% for ticker in tickers %}
		<tr>
			<td>{{ ticker }}</td>
			<td>${{ results[ticker] }}</td>
		</tr>
		{% endfor %}
	</table>
	<div class="copyright">
		© 2017
		<a class="copyright-link" href="https://github.com/willmarkley" target="_blank"> William Markley</a>
	</div>
</body>
</html>
