<!doctype html>

<html>
<head>
	<link rel="stylesheet" href="/valumodel.com/css/dcf-stylesheet.css">
</head>

<body>
	<div class="dcf">
		<div class="header">
			<p class="company-name">{{ name }} ({{ ticker }})<p>
			<p class="analysis-name">Discounted Cash Flow Analysis</p>
			<p class="units">($ in millions)</p>
		</div>
		<div class="free_cash_flow">
			<div style="padding-top:12px; padding-bottom:7px;">
				<div class="header subheader historical">Historical</div>
				<div class="header subheader projected">Projected</div>
			</div>
			<div class="row">
				<div class="field"> </div>
				{% for year in historical_years %}
					<div class="year">{{ year }}</div>
				{% endfor %}
				<div class="divider"> </div>
				{% for year in projected_years %}
					<div class="year">{{ year }}</div>
				{% endfor %}
			</div>
			{% for field in rows_fcf %}
				<div class="row">
					{% if field in important_fields %}
						<div class="field important_field">{{ field }}</div>
					{% else %}
						<div class="field regular_field">{{ field }}</div>
					{% endif %}
					{% for year in historical_years %}
						{% if field in data_fields %}
							<div class="entry data_field">{{ fcf[(field,year)] }}    </div>
						{% elif field=='Free Cash Flow' %}
							<div class="entry answer">{{ fcf[(field,year)] }}    </div>
						{% else %}
							<div class="entry">{{ fcf[(field,year)] }}    </div>
						{% endif %}
					{% endfor %}
					<div class="divider">|</div>
					{% for year in projected_years %}
						{% if field in user_fields %}
							<div class="entry user_field">{{ fcf[(field,year)] }}    </div>
						{% elif field=='Free Cash Flow' %}
							<div class="entry answer">{{ fcf[(field,year)] }}    </div>
						{% else %}
							<div class="entry">{{ fcf[(field,year)] }}    </div>
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
			<div class="row">
				<div class="field regular_field">{{ 'WACC' }}</div>
				<div class="entry">{{ wacc['WACC'] }}    </div>
			</div>
			{% for field in rows_pfcf %}
				<div class="row">
					{% if field=='Present Value of Free Cash Flow' %}
						<div class="field important_field" style="width:614px;">{{ field }}</div>
					{% else %}
						<div class="field regular_field" style="width:594px;">{{ field }}</div>
					{% endif %}
					{% for year in projected_years %}
						{% if field=='Present Value of Free Cash Flow' %}
							<div class="entry answer">{{ fcf[(field,year)] }}    </div>
						{% else %}
							<div class="entry">{{ fcf[(field,year)] }}    </div>
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
		</div>
		<div class="wacc">
			<div class="header subheader ">Weighted Average Cost of Capital</div>
			{% for field in rows_wacc %}
				<div class="row subrow">
					{% if field=='WACC' %}
						<div class="subfield important_field">{{ field }}</div>
						<div class="entry answer">{{ wacc[field] }}    </div>
					{% else %}
						<div class="subfield">{{ field }}</div>
						<div class="entry">{{ wacc[field] }}    </div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
		<div class="enterprise_value">
			<div class="header subheader ">Enterprise Value</div>
			{% for field in rows_enter_val %}
				<div class="row subrow">
					{% if field in important_fields %}
						<div class="subfield important_field">{{ field }}</div>
						<div class="entry answer">{{ enterprise_value[field] }}    </div>
					{% elif field=='Exit Multiple' %}
						<div class="subfield">{{ field }}</div>
						<div class="entry user_field">{{ enterprise_value[field] }}    </div>
					{% else %}
						<div class="subfield">{{ field }}</div>
						<div class="entry">{{ enterprise_value[field] }}    </div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
		<div class="user_assumptions">
			<div class="header subheader ">User Assumptions</div>
			{% for field in rows_assumpt %}
				<div class="row subrow">
						<div class="subfield">{{ field }}</div>
						<div class="entry user_field">{{ assumptions[field] }}    </div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="disclaimer">
		valumodel.com (the "Company") is not a Registered Investment Advisor, Broker/Dealer, Financial Analyst, Financial Bank, Securities Broker or Financial Planner. The Information on the Site is provided for information purposes only. The Information is not intended to be and does not constitute financial advice or any other advice, is general in nature and not specific to you. Before using the Company's information to make an investment decision, you should seek the advice of a qualified and registered securities professional and undertake your own due diligence. None of the information on our Site is intended as investment advice, as an offer or solicitation of an offer to buy or sell, or as a recommendation, endorsement, or sponsorship of any security, Company, or fund. The Company is not responsible for any investment decision made by you. You are responsible for your own investment research and investment decisions.
	</div>
</body>

</html>
